<launch>
	<node pkg="agv" type="agvGet.py" name="get_encoder"></node>
	<node pkg="agv" type="broadcaster_lidar"  name="Tf_Broadcaster" ></node>
	<node pkg="sicktoolbox_wrapper" type="sicklms" name="sick_read">
		<param name="port" type="string" value="/dev/ttyUSB2"/>
		<param name="baud" value="38400"/></node>
	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find agv)/lidar.rviz" />
</launch>

